body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  background: #093254;
  position: relative;
  z-index: 4444;
}

.w_1320{
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.wrapper{
  overflow: hidden;
  .sidebar{
    width: 32.2%;
    float: left;
    position: relative;
    z-index: 3333;
    padding: 48px 0 11px;
    .sidebar_inner{
      padding: 0 31% 0 0;
      .text{
        color: #262830;
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
        padding: 0 0 22px;
        h3{
          color: #262830;
        }
        p{
          padding: 0 0 10px;
        }
      }
      .drag_boxes{
        cursor: move;
        width: 278px;
        height: 199px;
        position: relative;
        border: 3px solid #093254;
        background: #fff;
        .drag_box{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #fff;
          z-index: 1111;
          .drop_box{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            textarea{
              border-style: none; 
              border-color: Transparent; 
              overflow: auto; 
            }
          }
        }
      }
    }
  }
  .main{
    width: 67.8%;
    float: right;
    position: relative;
    z-index: 2222;
    padding: 48px 0 11px;

    .main_inner{
      padding: 0 0 0 4.69%;
      position: relative;
      
      .main_top{
        padding: 0 0 25px 1.17%;
        .restart_btn{
          float: left;
        }
      }

      .drop_boxes_wrap{
        padding: 0 0 61px 0;
        .title_wrap{
          padding: 0 0 0 1.17%;
          .title_wrap_inner{
            padding: 18px 0 0 0;
            border-top: 1px solid #057a34;
          }
          h3 .title{
            padding: 0 0 18px;
          }
        }

        .drop_boxes{
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 100%;
          font: inherit;
          vertical-align: baseline;

          .drop_box_container{
            width: 18.83%;
            display: inline-block;
            margin: 0 0 18px 1.17%;
            vertical-align: top;
            .drop_box_border{
              width: 100%;
              height: 116px;
              margin-right: 10px;
              &:hover{
                border-color: #b2adaf !important;
              }
            }
            .drop_box_border_ht{
              border-color: black !important;
              &:hover{
                border-color: black !important;
              }

            }
            .box_desc{
              width: 100%;
              height: 70px;
              border-style: solid;
              border-width: 1px;
              margin: 10px 0;
              border-radius: 8px;
              textarea{
                color: #262830;
                font-size: 14px;
                line-height: 18px;
                font-weight: 300;
                height: 100%;
                width: 100%;
                padding: 7px 9px;
                border: 1px solid #f0ebed;
                border-radius: 8px;
                box-sizing: border-box;
              }

            }

          }
        }
      }

      .sub_drop_boxes{
        padding: 0 0 0 1.17%;
        .drop_boxes_wrap_fr{
          float: right
          !important;
        }
        .drop_boxes_wrap{
          font-size: 13px;
          line-height: 16px;
          width: 47.93%;
          float: left;


          .drop_boxes{
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
            .drop_box_container{
              width: 31.36%;
              margin: 0 1.973% 7px 0;
              display: inline-block;
              vertical-align: top;
            }
            .drop_box_border{
              width: 100%;
              height: 100px;
              margin-right: 10px;
              border-width:1px;  
              border-style:solid;
            }

          }
        }
      }
    }
  }
}



.table{
  display: table;
  width: 100%;
  height: 100%;
  .td{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    .textarea_box{
      color: #093254;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      font-weight: 300;
      position: relative;
      padding: 0 5px;
      word-break: break-word;
    }
  }
}

h3{
  color: #057a34;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
